<template>
  <NuxtLayout :name="layout">
    <NuxtPage />
  </NuxtLayout>
</template>

<script setup>
  const layout = "default"
  const store = useStore()
</script>

<script>
  export default {
    mounted(){
      new UserApi(this.$config.apiURL, 'user/').getProfile()
        .then(data=>{
          if (data){
            this.store.account = data
          }else{
            this.$router.push('/login')
          }
        }).catch(()=>{
          this.$router.push('/login')
        })
    }
  }
</script>

<style lang="scss">
*{
  margin:0;
  padding: 0;
}
</style>