<template>
    
    <div class="wrapper">
        <div class="header">
            <div class="logo">
                <img src="~/assets/img/logo.svg" alt="Logo">
            </div>
        </div>
        <div class="content">
            <h1 class="title">Авторизация</h1>
            <div class="form" v-if="!authenticating">
                <input class="form-control" type="text" placeholder="Email" name="email" v-model="form.username">
                <input class="form-control" type="password" placeholder="Пароль" name="password" v-model="form.password">
                <div class="w-100 d-flex justify-content-between">
                    <div class="d-flex w-50">
                        <input type="checkbox" name="remember" id="remember" checked>
                        <label class="flex-shrink-0" for="remember">Запомнить меня</label>
                    </div>
                    <div>Забыли пароль?</div>
                </div>
                
                <button @click="login">Войти</button>
                <div class="registration"><a href="#">Регистрация</a> </div>
            </div>
            <div v-else>
                Вы авторизованы
                <button @click="logout">Выход</button>
            </div>
        </div>
    </div>
</template>

<script setup>
    const store = useStore()
</script>

<script>
export default {
    data() {
        return {
            authenticating: false,
            form: {
                'username': null,
                'password': null
            },
            qqq: this.$config.VUE_APP_API_ORIGIN
        };
    },
    methods: {
        login() {  
            new UserApi(this.$config.apiURL, 'user/').login(this.form)
                .then(()=>{
                    new UserApi(this.$config.apiURL, 'user/').getProfile()
                        .then(data=>{
                            this.store.account = data
                        })
                    this.$router.push('/profile')
                })
        }
    }
}
</script>

<style scoped lang="scss">
.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    position: relative;
    background: $blue;
    width: 100%;
    // height: 45%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 100%;
    }
    
    flex-grow: 2;
}
.content{
    background: $white;
    position: relative;
    width: 100%;
    // height: 55%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 74px;
    padding-left: 40px;
    padding-right: 40px;
    &::before{
        content: "";
        position: absolute;
        top: -19px;
        width: 100%;
        height: 20px;
        display: block;
        background-color: $white;
        border-radius: 20px 20px 0 0;
    }
    .title{
        font-weight: 700;
        font-size: 36px;
        line-height: 35px;
        color: $blue;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }
    .form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 28px;
        width: 100%;
        max-width: 400px;
        input{
            background: $white;
            border: none;
            border-radius: unset;
            padding: 17.5px 10px;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            border-bottom: 1px solid $black;
            width: 100%;
            color: $black; 
            &::placeholder{
                opacity: .5;
                
            }
            &:focus{
                outline: unset;
                box-shadow: unset;
            }
        }
    }
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17.5px 20px;
    border: none;
    background: $blue-gradient;
    border-radius: 34px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: $white;
}
.registration{
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        color: $blue;
        position: relative;
        height: 15px;
        font-weight: 600;
        font-size: 15px;
        text-decoration: none;
        &::before{
            content: '';
            position: absolute;
            bottom: -4px;
            width: 100%;
            height: 1px;
            display: block;
            background-color: $blue;
        }
    }
}
</style>