<template>
  <div v-if="store.account">
    <div style="width: 200px; height: 200px" v-if="store.account.profile && store.account.profile.photo">
      <img class="w-100 h-100" :src="`${api_url}${store.account.profile.photo.url}`" alt="">
    </div>
    {{store.account}}
  </div>
</template>


<script setup>
    const store = useStore()
</script>

<script>
export default {
  data(){
    return {
      api_url: this.$config.apiURL
    }
  }
}
</script>

<style>

</style>