<template>
	<div>
		<nav class="navbar navbar-expand-lg navbar-light bg-light" v-if="is_login">
			<div class="container-fluid">
					<a class="navbar-brand" href="#">Панель навигации</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Переключатель навигации">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item">
							<NuxtLink class="nav-link" aria-current="page" to="/">Главная</NuxtLink>
						</li>
						<li class="nav-item" v-if="!is_login">
							<NuxtLink class="nav-link" to="/login">Авторизация</NuxtLink>
						</li>
						<li class="nav-item" v-if="is_login">
							<NuxtLink class="nav-link" aria-current="page" to="/profile">профиль</NuxtLink>
						</li>
						<li class="nav-item" v-if="is_login">
							<a class="nav-link" @click="logout">Выход</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<slot />
		<nav v-if="is_login">
			Тут будет навбар
		</nav>
	</div>
</template>

<script setup>
    const store = useStore()
</script>

<script>
	export default{
		data(){
			return {
				is_login: this.store.account ? true : false
			}
		},
		watch:{
			'store.account': function (){
				this.is_login = this.store.account ? true : false
			}
		},
		methods: {
			logout(){
				new UserApi(this.$config.apiURL, 'user/').logout()
				this.store.account = null
        		this.$router.push('/login')
			}
		}
	}
</script>
<style>
	.router-link-active{
		color: var(--bs-navbar-active-color);
	}
	a{
		cursor:pointer
	}
</style>